.summary-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.summary-heading {
    color: #313244;
}

.summary-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
    border-radius: 10px;
    margin: 0.5rem 0;
}

.summary-score {
    display: flex;
    color: #9b969f;
    font-weight: 700;
}

.summary-item-title {
    display: flex;
}

.item-Reaction {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(var(--lightRed));
}

.item-Memory {
    background-color: hsla(39, 100%, 56%, 0.1);
    color: var(--orangeyYellow);
}

.item-Verbal {
    background-color: hsla(166, 100%, 37%, 0.1);
    color: var(--greenTeal);
}

.item-Visual {
    background-color: hsla(234, 85%, 45%, 0.1);
    color: var(--cobaltBlue);
}

.summary-continue-btn {
    background-color: var(--darkGrayBlue);
    color: var(--white);
    border-radius: 24px;
    padding: 0.75rem 1.5rem;
    border: 0px solid transparent;
}